body {
    background-color: #f5f0f4;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    width: 100%;
}
/* punto 1 */
header {
    background-color: #6d8efc;
    color: rgb(248, 252, 249);
    padding: 20px;
    text-align: center;
    width: 100%;
}

main {
    padding: 20px;
    overflow: auto;
}

footer {
    background-color: #4f9fe5;
    bottom: 0;
    color: rgb(119, 207, 227);
    padding: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
}

p {
    color: #336699;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px; 
}
/* punto 2 */
.elevated-button {
    background-color: #eff4f7;
    border: none;
    border-radius: 10px;
    color: rgb(18, 17, 17);
    cursor: pointer;
    padding: 10px 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.elevated-button:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.elevated-button:active {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(0px);
}
/* punto 3 */
.navigation {
    align-items: center;
    /* background-color: #f0e6e6; */
    display: flex;
    height: 50px;
    justify-content: center;
}

.nav-link {
    color: rgb(5, 5, 5);
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #4892e2;
}
/* punto 4 */
.container {
    display: flex;
    margin-bottom: 10px;
    margin-top: 20px;
}

.column-left {
    background-color: #55c3d6;
    flex: 30%;
    padding: 20px;
}

.column-right {
    background-color: #458eef;
    flex: 70%;
    padding: 20px;
}
/* punto 5 */
.my-paragraph {
    color: #336699;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px; 
}
/* punto 6 */
.input-field {
    border: 2px solid #336699;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    padding: 5px;
    transition: border-color 0.3s ease;
    width: 20%;
}

.input-field::placeholder {
    color: #999;
    opacity: 0.6;
}

.input-field:focus {
    border-color: #66aaff;
    outline: none;
}
/* punto 7 */
.circle {
    width: 30px;
    height: 30px;
    background-color: #84baf0;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.circle:hover {
    transform: scale(1.2);
}