body {
    background-color: #f5f0f4;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    width: 100%;
}

section {
    width: 100%;
    height: 100vh;
    background-color: #f5f0f4;
    display: flex;
    flex-direction: column;
}
/* punto 1 */
header {
    align-items: center;
    background-color: #6d8efc;
    display: flex;
    flex-basis: 50px;
    justify-content: center;
}

main {
    padding: 20px;
    overflow: auto;
}

footer {
    /* border: 1px solid #000; */
    background-color: #6d8efc;
    color: #0a0a0a;
    flex-basis: 50px;
    font-size: 0.8em;
    text-align: center;
    padding: 10px;
  }
/* footer {
    background-color: #4f9fe5;
    bottom: 0;
    color: rgb(119, 207, 227);
    padding: 4px;
    position: absolute;
    text-align: center;
    width: 100%;
    overflow: auto;
} */

p {
    color: #336699;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px; 
}
/* punto 2 */
.elevated-button {
    background-color: #eff4f7;
    border: none;
    border-radius: 10px;
    color: rgb(18, 17, 17);
    cursor: pointer;
    padding: 10px 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.elevated-button:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.elevated-button:active {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(0px);
}
/* punto 3 */
.navigation {
    align-items: center;
    /* background-color: #f0e6e6; */
    display: flex;
    height: 50px;
    justify-content: center;
}

.nav-link {
    color: rgb(5, 5, 5);
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #4892e2;
}
/* punto 4 */
.container {
    display: flex;
    margin-bottom: 10px;
    margin-top: 20px;
}

.column-left {
    background-color: #55c3d6;
    flex: 30%;
    padding: 20px;
}

.column-right {
    background-color: #458eef;
    flex: 70%;
    padding: 20px;
}
/* punto 5 */
.my-paragraph {
    color: #336699;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px; 
}
/* punto 6 */
.input-field {
    border: 2px solid #336699;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    padding: 5px;
    transition: border-color 0.3s ease;
    width: 20%;
}

.input-field::placeholder {
    color: #999;
    opacity: 0.6;
}

.input-field:focus {
    border-color: #66aaff;
    outline: none;
}
/* punto 7 */
.circle {
    width: 30px;
    height: 30px;
    background-color: #84baf0;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.circle:hover {
    transform: scale(1.2);
}
/* punto 8 */
.blockquote {
    border-left: 5px solid #FF4500;
    padding: 15px;
    background-color: #f9f9f9;
}

.blockquote p {
    margin: 0;
    font-size: 18px;
    color: #333;
}
/* punto 9 */
.lista {
    list-style-type: square; 
    color: #228B22; 
    padding-left: 20px; 
}

.lista li {
    margin: 5px 0;
}
/* punto 12 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1; 
}
/* punto 14 */
.striped-table {
    width: 80%;
    border-collapse: collapse;
    /* display: flex; */
    margin-top: 20px;
    margin-bottom: 10px;
}

.striped-table th, .striped-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.striped-table tbody tr:nth-child(even) {
    background-color: #F5F5F5;
}

.striped-table tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
}
/* punto 15 */
.tooltip-container {
    display: inline-block;
    margin-top: 50px;
    position: relative;
  }
  
  .tooltip-trigger {
    cursor: pointer;
    border-bottom: 1px dotted #041e41;
  }
  .tooltip {
    visibility: hidden;
    width: 150px;
    background-color: #faf7f7;
    color: #0a0a0a;
    text-align: center;
    border-radius: 2px;
    padding: 2px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  /* punto 16 */
  .progress-bar {
    width: 100%;
    background-color: #98bfdc;
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 100%;
    width: 70%;
    background-color: #4CAF50;
    transition: width 0.5s ease;
}
/* punto 17 */
.custom-table {
    border-collapse: collapse;
    width: 100%;
}

.blue-row {
    background-color: #B0E0E6;
}

.custom-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
/* punto 18 */
hr {
    border: 0;
    margin-top: 30px;
    margin-bottom: 50px;
    height: 10px;
    width: 1000px;
    background: linear-gradient(
        135deg,
        #FF5733,
        #FFC300 100%
     );
}
/* punto 19 */
.card {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 300px;
    background-color: white;
    border: 1px solid #7a8182;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card h2 {
    margin: 0;
    font-size: 20px;
    color: #0d0d0d;
}

.card p {
    margin-top: 10px;
    color: #101010;
}
/* punto 20 */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 20px;
}

/* Estilos para las celdas */
.grid-item {
    background-color: #66b8e4;
    padding: 20px;
    border: 1px solid #181616;
    text-align: center;
}
